.boton-contenedor{
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #4d4c4c;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}
.boton-contenedor:hover{
    background-color: #14a181;
}

.operador{
    background-color: #019cff;
}

.operador:hover{
    background-color: #f88c07;
}